/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header{
  top: 0;
  padding: 0;
  margin: 0;
  height: 10vh;
  display: flex;
  background: -webkit-linear-gradient(left, #6464d4, #48a3ed);
}
header .logo h1{
  padding: 0;
  margin: 0;
  font-size: 2.5rem;
  color: whitesmoke;
  font-weight: bold;
}
body{
  background: #dfe9f5;
}
.container{
  display: flex;
}
nav{
  position: relative;
  top: 0;
  bottom: 0;
  height: 90vh;
  left: 0;
  background: #fff;
  width: 280px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.logo{
  display: flex;
  margin: 8px 0px 5px;
}
.logo img{
  display: flex;
  margin: 4px 10px 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
a{
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 10px;
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}
a:hover{
  background:rgb(178, 223, 248);
}
.logout{
  position: absolute;
  bottom: 0;
  color: white;
  background-color:#6464d4;
}
.actionbtn{
  border: none;
  outline: none;
  cursor: pointer;
}
.actionbtn:hover{
  scale: 1.05;
}
.actionbtn:active{
  scale: 0.95;
}

@media (max-width: 500px){
  span{
      display: none;
  }
  nav{
    width: 90px;
  }
}